@{
    ViewData["Title"] = "Giải phương trình bậc 1";
}

<div >
    <h1> @ViewData["Title"]</h1>

</div>

<form asp-action="PTbac1" >
    <label>He so a: </label>
    <input type="text" name="a" value="" />
    <label>He b: </label>
    <input type="text" name="b" value="" />

    <input type="submit" class="btn btn-primary" name="name" value="Result" />
</form>
<br />
<br />
<h2>@ViewBag.Result</h2>
